---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import FeaturedCategories from "../components/FeaturedCategories.astro";
import PopularTools from "../components/PopularTools.astro";
import InteractiveCalculator from "../components/InteractiveCalculator.astro";
import LatestArticles from "../components/LatestArticles.astro";
import Newsletter from "../components/Newsletter.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <FeaturedCategories />
    <PopularTools />
    <InteractiveCalculator />
    <LatestArticles />
    <Newsletter />
  </main>
  <Footer />
</Layout>